html {
	background-color: #222222;
	color: #ffffff;
}

a {
	color: #aaaaff;
	text-decoration-style: solid;
}

input {
	background-color: #111111;
	color: #ffffff;
	border: solid;
	border-color: #1a1a1a;
	padding: 10px;
	width: 500px;
}

button {
	background-color: #111111;
	color: #ffffff;
	border: solid;
	border-color: #1a1a1a;
	padding: 10px;
	/*width: 500px;*/
}

.content {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

